<div class="container-fluid card login-container">
  <h3 class="text-center">Registration</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorsMessages.length>0">
    <p *ngFor="let error of errorsMessages">{{ error }}</p>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="firstName">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="lastName">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">password</label>
    <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password">
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div>
      <div>
        <button (click)="register()" type="button" class="btn btn-primary">
          <em class="fas fa-sign-in-alt">&nbsp;Register</em>
        </button>
      </div>
    </div>

    <div>
      Already had an account &nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        <em>Login</em>
      </button>
    </div>
  </div>
</div>
